<% if taxon.children.any? %>
  <li>
    <a href="javascript:;" data-toggle="collapse" data-target="#taxon-<%= taxon.id %>">
      <%= taxon.name %><i class="fa fa-plus"></i>
    </a>
    <ul id="taxon-<%= taxon.id %>" class="collapse collapseItem">
      <% taxon.children.each do |child_taxon| %>
        <%= render child_taxon %>
      <% end %>
    </ul>
  </li>
<% else %>
  <li>
    <%= link_to potepan_category_path(taxon.id) do %>
      <i class="fa fa-caret-right" aria-hidden="true"></i><%= taxon.name %>
      <span>(<%= taxon.products.count %>)</span>
    <% end %>
  </li>
<% end %>
