<div class="col-xs-12">
  <div class="page-header">
    <h4>人気カテゴリー</h4>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="thumbnail" onclick="location.href='<%= potepan_category_path(7)%>';">
    <div class="imageWrapper">
      <%= image_tag("home/featured-collection/featured-collection-01.jpg", :alt => "feature-collection-image") %>
      <div class="masking">
        <%= link_to potepan_category_path(7), class: "btn viewBtn" do %>
          View Shirts
        <% end %>
      </div>
    </div>
    <div class="caption">
      <h4>Shirts</h4>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="thumbnail" onclick="location.href='<%= potepan_category_path(3)%>';">
    <div class="imageWrapper">
      <%= image_tag("home/featured-collection/featured-collection-02.jpg", :alt => "feature-collection-image") %>
      <div class="masking">
        <%= link_to potepan_category_path(3), class: "btn viewBtn" do %>
          View Bags
        <% end %>
      </div>
    </div>
    <div class="caption">
      <h4>Bags</h4>
    </div>
  </div>
</div>
<div class="col-sm-4 col-xs-12">
  <div class="thumbnail" onclick="location.href='<%= potepan_category_path(1)%>';">
    <div class="imageWrapper">
      <%= image_tag("home/featured-collection/featured-collection-03.jpg", :alt => "feature-collection-image") %>
      <div class="masking">
        <%= link_to potepan_category_path(1), class: "btn viewBtn" do %>
          View Denim
        <% end %>
      </div>
    </div>
    <div class="caption">
      <h4>Denim</h4>
    </div>
  </div>
</div>
