<div class="slide">
  <div class="productImage clearfix">
    <%= link_to potepan_product_path(product) do %>
      <%= image_tag product.images.first.attachment(:product), alt: product.name %>
    <% end %>
  </div>
  <div class="productCaption clearfix">
    <%= link_to potepan_product_path(product) do %>
      <h5><%= product.name %></h5>
      <h3><%= product.display_price %></h3>
    <% end %>
  </div>
</div>
