<div class="col-sm-4 col-xs-12" id="variant-<%= variant.id %>">
  <div class="productBox">
    <div class="productImage clearfix">
      <%= image_tag variant.display_image.attachment(:product), alt: variant.name %>
    </div>
    <div class="productCaption clearfix">
      <%= link_to potepan_product_path(variant.product, taxon_id: selected_taxon.id) do %>
        <h5><%= variant.product.name %></h5>
        <h3><%= variant.display_price %></h3>
      <% end %>
    </div>
  </div>
</div>
