$(".lightSection.clearfix.pageHeader").html("<%= escape_javascript(render 'shared/light_section_page_header', page_title: @selected_taxon.name, page_address: @selected_taxon.permalink) %>");
$(".paginate-form").html("<%= escape_javascript(paginate @products) %>");
$(".view-switch-button").html("<%= escape_javascript(render 'grid_list_switch_button', selected_taxon: @selected_taxon, active_type: @page_type) %>");
$(".products").html("<%= escape_javascript(render @products, selected_taxon: @selected_taxon, page_type: @page_type) %>");
