<% provide(:title, "Categories") %>
<section class="lightSection clearfix pageHeader">
  <%= render 'shared/light_section_page_header', page_title: @selected_taxon.name, page_address: @selected_taxon.permalink %>
</section>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar" id="sidebar">
        <%= render 'shared/left_sidebar', taxons: @taxons, colors: @colors, sizes: @sizes, selected_taxon: @selected_taxon %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <div class="col-xs-6">
            <%= render 'shared/sort_dropdown_list' %>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right view-switch-button" role="group">
              <%= render 'shared/grid_list_switch_button', selected_taxon: @selected_taxon, active_type: @page_type %>
            </div>
          </div>
        </div>
        <div class="row products productListSingle">
          <% if @selected_variants %>
            <%= render @selected_variants, selected_taxon: @selected_taxon, page_type: @page_type %>
          <% else %>
            <%= render @products, selected_taxon: @selected_taxon, page_type: @page_type %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/light_section_partners_logo' %>
