<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% product.master.images.each_with_index do |image, index| %>
      <div class="<%= index.zero? ? "item active" : "item" %>" data-thumb="<%= index %>">
        <%= image_tag image.attachment(:large) %>
      </div>
    <% end %>
    <% if product.variants.any? %>
      <%= render 'variants_carousel', variant: variant %>
    <% end %>
  </div>
</div>
