<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="productBox related_product">
    <div class="productImage clearfix">
      <%= link_to potepan_product_path(product) do %>
        <%= image_tag product.images.first.attachment(:product), alt: product.name %>
      <% end %>
    </div>
    <div class="productCaption clearfix">
      <%= link_to potepan_product_path(product) do %>
        <h5><%= product.name %></h5>
        <h3><%= product.display_price %></h3>
      <% end %>
    </div>
  </div>
</div>
