<% if  variant.stock_items.where(backorderable: true).any? %>
  <%= form_with model: line_item, url: "#", method: :get, html: {style: "display: inline"} do |f| %>
    <%= f.hidden_field(:variant_id, value: variant.id) %>
    <span class="quick-drop resizeWidth" >
      <%= f.select(:quantity, (1..10).to_a, {}, class: "select-drop") %>
    </span>
    <div class="btn-area">
      <%= button_tag :type => "submit", :class =>"btn btn-primary btn-block" do %>
        カートへ入れる<i class="fa fa-angle-right"　aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
<% elsif variant.total_on_hand.zero? %>
  <span class="quick-drop resizeWidth">
    <select class= "select-drop">
      <option value="0">0</option>
    </select>
  </span>
  <div class="btn-area">
    <button disabled class="btn btn-primary btn-block">
      在庫なし<i class="fa fa-angle-right"　aria-hidden="true"></i>
    </button>
  </div>
<% else %>
  <%= form_with model: line_item, url: "#", method: :get, html: {style: "display: inline"} do |f| %>
    <%= f.hidden_field(:variant_id, value: variant.id) %>
    <span class="quick-drop resizeWidth" >
      <%= f.select(:quantity, (1..variant.total_on_hand).to_a, {}, class: "select-drop") %>
    </span>
    <div class="btn-area">
      <%= button_tag :type => "submit", :class =>"btn btn-primary btn-block" do %>
        カートへ入れる<i class="fa fa-angle-right"　aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
<% end %>
