<% if product.variants.any? %>
  <%= form_with url: show_ajax_potepan_product_path, method: :get, html: {style: "display: inline"} do |f| %>
    <span class="quick-drop">
      <%= f.select(:variant_id, '', {}, class: "select-drop", id: "select_variants_option") do %>
        <% product.variants.each do |variant| %>
          <%= content_tag(:option, variant.options_text, value: variant.id) %>
        <% end %>
      <% end %>
    </span>
  <% end %>
<% end %>
