<% variant.images.each.with_index(variant.images.count) do |image, index| %>
  <div data-target="#carousel" data-slide-to="<%= index %>" class="thumb">
    <%= image_tag image.attachment(:small) %>
  </div>
<% end %>
