<% provide(:title, "result by search #{@keywords}") %>
<section class="lightSection clearfix pageHeader">
  <%= render 'shared/light_section_page_header', page_title: @keywords, page_address: "search/#{@keywords}" %>
</section>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render partial: 'potepan/spree/products/product_for_search', collection: @products, as: :product %>
      <% if @products.empty? %>
        <h2 class="text-center">No results</h2>
      <% end %>
    </div>
  </div>
</section>
