<% provide(:title, "#{@product.name}") %>
<section class="lightSection clearfix pageHeader">
  <%= render 'shared/light_section_page_header', page_title: @product.name, page_address: @product.name %>
</section>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left productSlider" id="item_images">
            <%= render 'item_images', product: @product, variant: @variant %>
          </div>
          <div class="media-body">
            <ul class="list-inline">
              <li>
                <%= link_to potepan_category_path(@taxon.id) do %>
                  <i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る
                <% end %>
              </li>
            </ul>
            <h2><%= @product.name %></h2>
            <p><%= @product.description %></p>
            <h3 id="item_price"><%= @variant.display_price %></h3>
            <%= render 'select_option', product: @product, variant: @variant %>
            <div id="select_quantity_and_cart_button" style= "display: inline">
              <%= render 'select_quantity_and_cart_button', variant: @variant, line_item: @line_item %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row productsContent">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>関連商品</h4>
        </div>
      </div>
      <%= render partial: "related_product", collection: @related_products, as: :product %>
    </div>
  </div>
</section>
