$("#item_images").html("<%= escape_javascript(render 'item_images', product: @product, variant: @variant) %>");
$("#item_price").html('<%= @variant.display_price %>');
$("#select_quantity_and_cart_button").html("<%= escape_javascript(render 'select_quantity_and_cart_button', variant: @variant, line_item: @line_item) %>");
