<%= link_to(potepan_category_path(selected_taxon.id), type: "button", class: "btn btn-default #{"active" if active_type == "Grid"} grid") do %>
  <i class="fa fa-th" aria-hidden="true"></i><span>Grid</span>
<% end %>
<%= link_to(potepan_category_path(selected_taxon.id, page_type: "List"), type: "button", class: "btn btn-default #{"active" if active_type == "List"} list") do %>
  <i class="fa fa-th-list" aria-hidden="true"></i><span>List</span>
<% end %>
