<div class="panel panel-default">
  <div class="panel-heading">商品カテゴリー</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <%= render taxons %>
      </ul>
    </div>
  </div>
</div>
<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <%= render partial: 'shared/option', collection: colors, as: :option, locals: {selected_taxon: selected_taxon} %>
    </ul>
  </div>
</div>
<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <%= render partial: 'shared/option', collection: sizes, as: :option, locals: {selected_taxon: selected_taxon} %>
    </ul>
  </div>
</div>
