<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="page-title">
        <h2><%= page_title %></h2>
      </div>
    </div>
    <div class="col-xs-6">
      <ol class="breadcrumb pull-right">
        <li>
          <%= link_to "Home", potepan_root_path %>
        </li>
        <li class="active"><%= page_address %></li>
      </ol>
    </div>
  </div>
</div>
