<li>
  <% if keyword = params[:keyword] %>
    <%= link_to(search_potepan_products_path(keyword: keyword, option_id: option.id)) do %>
      <%= option.name %><span>(<%= variants_count_on_option(option: option, taxon: selected_taxon) %>)</span>
    <% end %>
  <% else %>
    <%= link_to(potepan_category_path(selected_taxon.id, option_id: option.id)) do %>
      <%= option.name %><span>(<%= variants_count_on_option(option: option, taxon: selected_taxon) %>)</span>
    <% end %>
  <% end %>
</li>
