<div class="col-xs-12" id="product-<%= product.id %>">
  <div class="media">
    <div class="media-left">
      <%= link_to potepan_product_path(product, taxon_id: selected_taxon.id) do %>
        <%= image_tag product.images.first.attachment(:product), alt: product.name, class: "media-object" %>
      <% end %>
      <span class="maskingImage"><a data-toggle="modal" href=".quick-view" class="btn viewBtn">Quick View</a></span>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to potepan_product_path(product, taxon_id: selected_taxon.id) do %>
          <%= product.name %>
        <% end %>
      </h4>
      <p><%= product.description %></p>
      <h3><%= product.display_price %></h3>
    </div>
  </div>
</div>
