<% if page_type == "List" %>
  <%= render 'potepan/spree/products/product_list_view', product: product, selected_taxon: selected_taxon %>
<% else %>
  <%= render 'potepan/spree/products/product_grid_view', product: product, selected_taxon: selected_taxon %>
<% end %>
