<div class="col-sm-4 col-xs-12" id="product-<%= product.id %>">
  <div class="productBox">
    <div class="productImage clearfix">
      <%= link_to potepan_product_path(product, taxon_id: selected_taxon.id) do %>
        <%= image_tag product.images.first.attachment(:product), alt: product.name %>
      <% end %>
    </div>
    <div class="productCaption clearfix">
      <%= link_to potepan_product_path(product, taxon_id: selected_taxon.id) do %>
        <h5><%= product.name %></h5>
        <h3><%= product.display_price %></h3>
      <% end %>
    </div>
  </div>
</div>
